Year_3/sistemas distribuidos/_DESKTOP/BlogServiceSOAPa/PostViewerForm/Connected Services/BlogService/BlogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlogServiceSOAP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlogServiceSOAP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SuperPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuperPost" nillable="true" type="tns:SuperPost" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
</xs:schema>