Year_3/sistemas distribuidos/AlmacenPale/GestionAlmacenFormAsync/Connected Services/ServiceReference1/GestionAlmacen3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51691/GestionAlmacen.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GestionAlmacen" />
  <xs:element name="AltaPale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GestionAlmacen" minOccurs="0" name="pale" nillable="true" type="q1:Pale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaPaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaPaleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaPale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaPaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BajaPaleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UbicarPale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GestionAlmacen" minOccurs="0" name="ubicacion" nillable="true" type="q2:Ubicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UbicarPaleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GestionAlmacen" minOccurs="0" name="RecuperarPaleResult" nillable="true" type="q3:Pale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUbicacionPale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUbicacionPaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GestionAlmacen" minOccurs="0" name="GetUbicacionPaleResult" nillable="true" type="q4:Ubicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fetchPales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="fetchPalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GestionAlmacen" minOccurs="0" name="fetchPalesResult" nillable="true" type="q5:ArrayOfPale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>