Year_3/sistemas distribuidos/_DESKTOP/SOAPWeatherAPI/SOAPWeatherForm/Connected Services/ServiceReference1/MeteoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPWeatherAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPWeatherAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CondicionesActuales">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wind" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CondicionesActuales" nillable="true" type="tns:CondicionesActuales" />
</xs:schema>