Year_3/sistemas distribuidos/_DESKTOP/SOAPWeatherAPI/SOAPWeatherForm/Connected Services/ServiceReference1/MeteoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63094/MeteoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPWeatherAPI" />
  <xs:element name="GetCondiciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCondicionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPWeatherAPI" minOccurs="0" name="GetCondicionesResult" nillable="true" type="q1:CondicionesActuales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>